{{ define "footer"}}
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="footer">
                        <hr style="margin: 20px 0 10px 0;" />
                        <p class="pull-left" style="font-size: 12px;">Powered by <a target="_blank" href="https://make.quwj.com/project/10"><strong>Pi Dashboard</strong></a> <a target="_blank" href="https://github.com/yangqi93">yangqi93</a> build with golang， v{{ .info.Version }}, all rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
{{ end }}